<br />
<div class="container">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4">
            <div class="card">
                <div class="card-body centralizar">
                    <h2>Cadastro de Turmas</h2>


                    <form #formulario="ngForm">

                        Nome:<br>
                        <input required [(ngModel)]="turma.nome" type="text" class="form-control" name="nome">
                        Semestre:<br>
                        <input [(ngModel)]="turma.semestre" type="text" class="form-control" name="semestre">
                        Ano<br>
                        <input [(ngModel)]="turma.ano" type="text" class="form-control" name="ano">
                        Turno <br>
                        <input [(ngModel)]="turma.turno" type="text" class="form-control" name="turno">
                        <br />
                        <button (click)="save()" [disabled]="!formulario.valid" class="btn btn-success">Salvar</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-4"></div>
    </div>
</div>