<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body alinharDiretira">
            <h1>Cadastro de Turmas</h1><br>
            <a href="principal/turmas/new" class="btn btn-primary">Novo</a>
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">SEMESTRE</th>
                        <th scope="col">ANO</th>
                        <th scope="col">TURNO</th>
                        <th scope="col">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (turma of lista; track $index) {
                        <tr>
                            <td>{{turma.id}}</td>
                            <td>{{turma.nome}}</td>
                            <td>{{turma.semestre}}</td>
                            <td>{{turma.ano}}</td>
                            <td>{{turma.turno}}</td>
                            <td class="alinharDiretira"> 
                                <a href="principal/turmas/edit/{{turma.id}}" class="btn btn-primary">Editar</a>
                                <button (click)="delete(turma)" class="btn btn-danger">Deletar</button>
                             </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>
