<br />
<div class="container">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4">
            <div class="card">
                <div class="card-body centralizar">
                    <h2>Cadastro de Professor</h2>


                    <form #formulario="ngForm">

                        Nome:<br>
                        <input required [(ngModel)]="professor.nome" type="text" class="form-control" name="nome">
                        CPF:<br>
                        <input [(ngModel)]="professor.cpf" type="text" class="form-control" name="cpf">
                        E-mail<br>
                        <input [(ngModel)]="professor.email" type="text" class="form-control" name="e-mail">
                        Especialidade <br>
                        <input [(ngModel)]="professor.especialidade" type="text" class="form-control" name="especialidade">
                        <br />
                        <button (click)="save()" [disabled]="!formulario.valid" class="btn btn-success">Salvar</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-4"></div>
    </div>
</div>                              