<br />
<div class="container">
    <div class="row">


        <div class="col-12">
            <div class="card">
                <div class="card-body centralizar">
                    <h2>Cadastro de Aluno</h2>


                    <form #formulario="ngForm">

                        Nome:<br>
                        <input required [(ngModel)]="aluno.nome" type="text" class="form-control" name="nome">
                        CPF:<br>
                        <input [(ngModel)]="aluno.cpf" type="text" class="form-control" name="cpf">
                        Telefone<br>
                        <input [(ngModel)]="aluno.telefone" type="text" class="form-control" name="telefone">
                        Cadastro Completo <br>
                        <input [(ngModel)]="aluno.cadastroCompleto" type="text" class="form-control"
                            name="cadastroCompleto">
                        <br/>

                        @if(aluno.turma){
                            <label mdbLabel class="form-label" for="senha">Turma: {{aluno.turma?.nome}}</label> 
                          <div> <button type="button" class="btn btn-primary" mdbRipple (click)="buscarTurma()">Trocar Turma</button> </div>
                          <br>
                        }@else {
                          <br>
                          <div class="border w-100 p-2">Nenhuma turma selecionada!</div>
                          <br>
                          <div> <button type="button" class="btn btn-primary" mdbRipple (click)="buscarTurma()">Buscar Turma</button> </div>
                        }
                        <button (click)="buscarTurma()" class="btn btn-success">Salvar</button>
                        <button (click)="save()" [disabled]="!formulario.valid" class="btn btn-success">Salvar</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #modalTurmaList>

    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

        <app-turmas-list [modoModal]="true" (retornoTurma)="retornoTurmaList($event)"></app-turmas-list>

    </div>

</ng-template>