<br />
<div class="container">
    <div class="row">
        <div class="col-4"></div>

        <div class="col-4">
            <div class="card">
                <div class="card-body centralizar">
                    <h2>Cadastro de Aluno</h2>


                    <form #formulario="ngForm">

                        Nome:<br>
                        <input required [(ngModel)]="aluno.nome" type="text" class="form-control" name="nome">
                        CPF:<br>
                        <input [(ngModel)]="aluno.cpf" type="text" class="form-control" name="cpf">
                        Telefone<br>
                        <input [(ngModel)]="aluno.telefone" type="text" class="form-control" name="telefone">
                        Cadastro Completo <br>
                        <input [(ngModel)]="aluno.cadastroCompleto" type="text" class="form-control" name="cadastroCompleto">
                        <br />
                        <button (click)="save()" [disabled]="!formulario.valid" class="btn btn-success">Salvar</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-4"></div>
    </div>
</div>